// Styling for the download section
section.contact {
    text-align: center;
    background-color:lightseagreen;

    h2 {
        margin-top: 0;
        margin-bottom: 25px;
        i {
            color: $brand-google-plus;
        }
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;

            }
            &.social-github {
                a {
                    background-color: $brand-github;
                    &:hover {
                        background-color: lighten($brand-github, 25%);
                    }
                }
            }
            &.social-gitlab {
                a {
                    background-color: $brand-gitlab;
                    &:hover {
                        background-color: darken($brand-gitlab, 5%);
                    }
                }
            }
            &.social-google-plus {
                a {
                    background-color: $brand-google-plus;
                    &:hover {
                        background-color: darken($brand-google-plus, 5%);
                    }
                }
            }
        }
    }
}
