// Styling for the download section
section.download {
    position: relative;
    padding: 150px 0;
    background-color:lightseagreen;
    h2 {
        font-size: 50px;
        margin-top: -100px;
    }
    hr{
        border-width:1px;
        border-color:orangered;
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
