// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #fdcc52;
$theme-secondary:  #000000;
$theme-tertiary:   #FFFFFF;


$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee


$brand-github: #000000;
$brand-gitlab: #FFA500;
$brand-google-plus :#dd4b39;
